[submodule "Front-BabyDicionario"]
	path = Front-BabyDicionario
	url = https://github.com/Ddiidev/Front-BabyDicionario
[submodule "Back-BabyDicionario"]
	path = Back-BabyDicionario
	url = https://github.com/Ddiidev/Back-BabyDicionario
[submodule "Storage-BabyDicionario"]
	path = Storage-BabyDicionario
	url = https://github.com/Ddiidev/Storage-BabyDicionario
